<ul class="ads">

    <li ng-repeat="ad in userAds.ads" class="box">
        <div ng-include src="'templates/shared-ad-info-partial.html'"></div>
        <div>
            <div><strong>Category:</strong></div>
            <div class="ad-info-field">{{ad.categoryName }}</div>

        </div>
        <div>
            <div><strong>Town:</strong></div>
            <div class="ad-info-field">{{ad.townName }}</div>
        </div>
        <div>
            <div><strong>Status :</strong></div>
            <div class="ad-info-field status">{{ad.status }}</div>
            <a ng-click="deactivateAd(ad.id)" class="button">Deactivate</a>
        </div>
    </li>
    <div ng-include src="'templates/pagination/pagination-partial.html'"></div>

</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>