<div class="col-md-6 col-lg-4" id="">
    <div class="box round-edges">
        <h2> Edit Profile</h2>
        <hr/>
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="userData.name" required value="{{userData.name}}"/>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="userData.email" required value="{{userData.email}}"/>
        </p>
        <p>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" ng-model="userData.phoneNumber" required value="{{userData.phoneNumber}}"/>
        </p>
        <p>
            <label for="town">Town:</label>
            <select id="town" ng-model="userData.townId">
                <option value="null">(None)</option>
                <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
            </select>
        </p>

        <a href="#/" ng-click="update(userData)" class="btn btn-primary center-block button ">Update</a>
        <a href="#/" class="button btn btn-primary center-block">Cancel</a>
    </div>
</div>

<div class="col-md-6">
    <div class="box round-edges">
        <h2> Change Password</h2>
        <hr/>
        <p>
            <label for="old-password"> Old password:</label>
            <input type="password" id="old-password" ng-model="userData.oldPassword" required/>
        </p>

        <p>
            <label for="new-password">New password:</label>
            <input type="password" id="new-password" ng-model="userData.newPassword" required/>
        </p>

        <p>
            <label for="confirm-new-password">Confirm new password:</label>
            <input type="password" id="confirm-new-password" ng-model="userData.confirmPassword" required/>
        </p>
        <a href="#/" ng-click="changePassword(userData)" class="button">Change Password</a>
        <a href="#/" class="button">Cancel</a>
    </div>
</div>