<div class="col-md-8">
    <div class="box">
        <h2>Edit Ad</h2>
        <hr/>
        <p>
            <label for="title">Title:</label>
            <input type="text" id="title" ng-model="adData.title" required value="{{adData.title}}"/>
        </p>
        <p>
            <label for="image">Image:</label>
            <input type="file" id="image" class="button" name="browse"
                   onchange="angular.element(this).scope().fileSelected(this)">
        </p>
        <p>
            <label for="text">Text:</label>
            <textarea id="text" ng-model="adData.text" cols="50" value="{{adData.text}}"></textarea>
        </p>
        <p>
            <label for="category">Category:</label>
            <select id="category" ng-model="adData.categoryId">
                <option value="null">(None)</option>
                <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
            </select>
        </p>
        <p>
            <label for="town">Town:</label>
            <select id="town" ng-model="adData.townId" value="{{adData.townName}}">
                <option value="null">(None)</option>
                <option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
            </select>
        </p>
        <p>
            <a ng-click="editAd(adData)" class="button">Edit</a>
            <a href="#/user/ads/delete/{{adData.id}}" ng-click="deleteAdButtonClicked(adData.id)"
               class="button">Delete</a>
            <a href="#/user/ads" class="button">Cancel</a>
        </p>
    </div>
</div>