<div class="col-md-6 round-edges">
    <div class="box">
        <h2> Edit Profile</h2>
        <hr/>
        <!-- open <p>-tag inside template-->
        <div ng-include="'templates/partial/shared-user-info-partial.html'"></div>
        <p>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" ng-model="userData.phoneNumber" required/>
        </p>
        <a href="#/" ng-click="update(userData)" class="button">Update</a>
        <a href="#/" class="button">Cancel</a>
    </div>
</div>

<div class="col-md-6 round-edges">
    <div class="box">
        <h2> Change Password</h2>
        <hr/>
        <p>
            <label for="old-password"> Old password:</label>
            <input type="password" id="old-password" ng-model="userData.oldPassword" required/>
        </p>

        <p>
            <label for="new-password">New password:</label>
            <input type="password" id="new-password" ng-model="userData.newPassword" required/>
        </p>

        <p>
            <label for="confirm-new-password">Confirm new password:</label>
            <input type="password" id="confirm-new-password" ng-model="userData.confirmPassword" required/>
        </p>
        <a href="#/" ng-click="changePassword(userData)" class="button">Change Password</a>
        <a href="#/" class="button">Cancel</a>
    </div>
</div>