<ul class="ads">

    <li ng-repeat="ad in userAds.ads" class="box">
        <div ng-include src="'templates/partial/shared-ad-info-partial.html'"></div>
        <div>
            <div><strong>Category:</strong></div>
            <div class="ad-info-field">{{ad.categoryName }}</div>

        </div>
        <div>
            <div><strong>Town:</strong></div>
            <div class="ad-info-field">{{ad.townName }}</div>
        </div>
        <div>
            <div><strong>Status :</strong></div>
            <div class="ad-info-field status">{{ad.status }}</div>

            <a class="button" href="#/user/ads/edit"
               ng-if="ad.status=='Inactive'">Edit</a>

            <a class="button" ng-click="deactivateAd(ad.id)">Deactivate</a>

            <a class="button" ng-click="publishAgainAd(ad.id)"
               ng-if="ad.status == 'Inactive' ||
               ad.status == 'WaitingApproval'" >Publish Again</a>

            <a class="button" ng-click="deleteAd(ad.id)"
               ng-if="ad.status=='Inactive'||
               ad.status == 'Rejected'">Delete</a>
        </div>
    </li>

    <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                max-size="9" boundary-links="true">
    </pagination>

</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>