<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" ng-change="reloadAds()"
            max-size="9" boundary-links="true">
</pagination>

<ul class="ads">

    <li ng-repeat="ad in ads.ads" class="box">
        <div class="ad-header">
            <div><h1>{{ad.title}}</h1></div>
            <div class="date">{{ad.date | date:'dd-MMM-yyyy'}}</div>
        </div>
        <div ng-if='ad.imageDataUrl'>
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}"/>
        </div>
        <div><strong>Text:</strong> <div class="ad-info-field">{{ad.text }}</div></div>
        <div><strong>Name:</strong> <div class="ad-info-field">{{ad.ownerName }}</div></div>
        <div><strong>Email:</strong> <div class="ad-info-field">{{ad.ownerName }}</div></div>
        <div><strong>Phone:</strong> <div class="ad-info-field">{{ad.ownerPhone }}</div></div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>
