<!-- Login / register box for anonymous site visitors -->
<div class="box" ng-if="authService.isAnonymous()">
    <div class="text-center">
        <p>To publish a new ad, please login.</p>
        <a href="#/login" class="button content-80">Login</a>
        <a href="#/register" class="button content-80">Register</a>
    </div>
</div>

<!-- Navigation box for logged in normal users (not admins) -->
<div ng-if="authService.isNormalUser()" class="box" ng-controller="NavbarController">
    <h2>Navigation</h2>
    <hr/>
    <ul class="sidebar-menu">
        <li><a href="#/user/home"
               ng-class="{selected: selectedNavId == null}"
               ng-click="navClicked(null)">Home</a></li>
        <li><a href="#/user/ads" ng-class="{selected: selectedNavId == 1}"
               ng-click="navClicked(1)">My Ads</a></li>
        <li><a href="#/user/ads/publish" ng-class="{selected: selectedNavId == 2}"
               ng-click="navClicked(2)">Publish New Ad</a></li>
        <li><a href="#/user/profile" ng-class="{selected: selectedNavId == 3}"
               ng-click="navClicked(3)">Edit Profile</a></li>
    </ul>
</div>

<!-- Navigation box MyAds selected -->
<div ng-if="authService.isNormalUser()" class="box" ng-controller="StatusFilterController" ng-show="statusNavVisible">
    <h2>My Ads</h2>
    <hr/>
    <div ng-include src="'templates/partial/navbar-ad-status-partial.html'"></div>
</div>

<!-- Navigation box for logged in admins -->
<div ng-if="authService.isAdmin()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/ads">Ads</a></li>
        <li><a href="#/admin/users">Users</a></li>
        <li><a href="#/admin/categories">Categories</a></li>
        <li><a href="#/admin/towns">Towns</a></li>
    </ul>
</div>

<!-- Ads Status box (admin) selected -->
<div ng-if="authService.isAdmin()" class="box" ng-controller="StatusFilterController" ng-show="statusNavVisible">
    <h2>Ads</h2>
    <hr/>
    <div ng-include src="'templates/partial/navbar-ad-status-partial.html'"></div>
</div>