<ul class="sidebar-menu">
    <li class="special"
        ng-class="{'selected' : selectedNavId == null}"
        ng-click="statusClicked(null)">
        All
    </li>
    <li ng-class="{'selected' : selectedNavId == 'published'}"
        ng-click="statusClicked('published')">
        Published
    </li>
    <li ng-class="{'selected' : selectedNavId == 'waitingapproval'}"
        ng-click="statusClicked('waitingapproval')">
        Waiting Approval
    </li>
    <li ng-class="{'selected' : selectedNavId == 'inactive'}"
        ng-click="statusClicked('inactive')">
        Inactive
    </li>
    <li ng-class="{'selected' : selectedNavId == 'rejected'}"
        ng-click="statusClicked('rejected')">
        Rejected
    </li>
</ul>